body{
    background-image: url(https://img.freepik.com/free-vector/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.jpg);
}
div{
    background-color: black;
    color: green;
}