body{
    background-image: url(https://t4.ftcdn.net/jpg/02/17/89/41/360_F_217894165_H4jRalQ4eg9Kp8XUVGEa7XFDEPtTQ9PY.jpg);    
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

