*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background: linear-gradient( #1e3c72, #2a5298, #243b55);
    height: 110vh;
    overflow: hidden;
}

.back-button{ 
    text-decoration: none;
    color: black;
    width: 100px;
    height: 50px;
    border-radius: 32px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 50px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 200px;
}