@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.centerer {
    display: flex;
}

.centerer .first-text {
    font-size: 60px;
    color: #fff;
}

.centerer .sec-texts {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.sec-texts li {
    position: relative;
    top: 0;
    font-size: 60px;
    color: #0ef;
    list-style: none;
    padding: 0 20px;
    text-shadow: 0 0 10px #0ef;
    animation: slide 12s steps(4) infinite, colorful 3s infinite;  /*step ფუნქცია ანიმაციას ჰყოფს იმდენ ინტერვალად, რამდენსაც ჩვენ გადავცემთ მას.*/
    overflow: hidden;
}

@keyframes slide {
    100% {
        top: -360px;  /*როცა ანიმაცია არის 4 ად დაყოფილი, ამ შემთხვევაში თითოეული span - ი თითო ინტერვალზე (ანუ 3 წამზე) ზემოთ აიწევს 90 პიქსელით, ასე მეორდება ყველა სპანისთვის და საბოლოოდ თითოეულს უწევს "ბლოკში გავლა"*/
    }
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg); /*რომ წარმოვიდგინოთ ეს ფუნქცია ფერთა წრეზე "ბრუნავს" იმდენი გრადუსით რამდენსაც გავუწერთ.*/
    }
}

.sec-texts li span {
    position: relative;
}

.sec-texts li span::before {
    content: '';
    position: absolute;
    left: 0;
    width: 400px;
    height: 90px;
    background: #000;
    border-left: 2px solid #0ef;
    animation: typing 1.5s steps(9) infinite alternate; /*ეს ინტერვალი მოქმედებს "შავი დივის" მოძრაობის ინტერვალებზე.*/
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}